# Ignore virtual environment folder
DailyCommit/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore environment-specific batch files
run.bat
